[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kaleb/Desktop/appimagekit_706106103310368ad0414557146fa679-Obsidian.desktop]
row=2
col=0

[Trash]
row=0
col=0

[/home/kaleb]
row=1
col=0

