[user]
  email = kaleb.bordner@gmail.com # change this as needed
  name = Kaleb Bordner # change this as needed

[credential]
  helper = store

[core]
  editor = vim

[color "status"]
  added = green
  changed = yellow
  untracked = red

[pull]
  rebase = true

[fetch]
  prune = true

[alias]
  a = add
  aa = add -A

  br = branch
  brD = branch -D

  rb = rebase -i

  cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 -r git branch -d"

  co = checkout
  c- = checkout -
  ci = commit
  cm = commit -m

  # open all files that have modifications in vim
  edit = "!vim `git ls-files -m` -p"

  ll = log --pretty=format:'-> on %C(green)%cD %C(reset)(%C(green)%cr%C(reset)), %C(blue)%ce%C(reset) committed %C(cyan)%hn%C(reset): %C(auto)%d %n - %C(white)%s%C(reset)' --stat
  ls = log --pretty=format:'- %C(green)%ch%C(reset) %C(cyan)%hn%C(reset) - %C(white)%s%C(reset) %C(blue)%an%C(reset) %C(auto)%d '
  lg = log --graph --pretty=format:'%C(green)%ch%C(reset) %C(cyan)%hn%C(reset) - %C(white)%s%C(reset) %C(blue)%an%C(reset) %C(auto)%d '
  lh = log --pretty=format:'- %C(green)%cr%C(reset) %C(cyan)%hn%C(reset) - %C(white)%s%C(reset) %C(auto)%d'
  hist = lh
  lm = "!logo(){ git log --pretty='format:<<%p>>%hn %s @ %ch (%cr)' $@ | sed -e 's/<<[^ ]* [^ ]*\\( [^ ]*\\)*>>/\\x1B[36m/' -e 's/<<[^ ]*>>//' -e 's/$/\\x1B[0m/' | less -FRSX;  }; logo"
  sl = shortlog --pretty=format:'%h%x09(%ar)%x09%s'

  st = status
  sts = status -s
  unstage = reset HEAD --
  tree = log --graph --decorate --oneline --abbrev-commit --all

  fpush = push --force-with-lease
  fps = push --force-with-lease
  psf = push --force-with-lease

  ps = push
  pl = pull

  save = !git add -A && git commit -m 'SAVEPOINT'
  undo = reset HEAD~1 --mixed
  wipe = !git add -A && git commit -m 'WIPE SAVEPOINT' && git reset HEAD~1 --hard

  refresh = !git rm -r --cached . && git add .

[mergetool]
  keepBackup = true
[merge]
  tool = meld
[mergetool "meld"]
  path = /usr/bin/meld

[pull]
  rebase = true

[color]
  ui = auto

[advice]
  pushNonFastForward = false
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
	default = current
