
install.log

fzf/.fzf

vim/.vim/plugged
vim/.vim/autoload

powerlevel10k/powerlevel10k

zsh/.zsh
tmux/.tmux

# ignore all files in the config directory by default
config/.config/*
config/.config/nvim/lazy-lock.json

# unignore these folders under the config directory
!config/.config/bspwm
!config/.config/dunst
!config/.config/lazygit
!config/.config/neofetch
!config/.config/nnn
!config/.config/nvim
!config/.config/picom
!config/.config/redshift.conf
!config/.config/rofi
!config/.config/ruff
!config/.config/sxhkd
!config/.config/wezterm
!config/.config/zellij
