
install.log

fzf/.fzf

vim/.vim/plugged
vim/.vim/autoload

powerlevel10k/powerlevel10k

zsh/.zsh
tmux/.tmux

config/.config/*

!config/.config/bspwm
!config/.config/dunst
!config/.config/neofetch
!config/.config/picom
!config/.config/redshift.conf
!config/.config/rofi
!config/.config/sxhkd
!config/.config/alacritty
!config/.config/nvim
!config/.config/lazygit
!config/.config/nnn
