git/.git-credentials
install.log

fzf/.fzf

vim/.vim/plugged
vim/.vim/autoload

powerlevel10k/powerlevel10k

zsh/.zsh
tmux/.tmux

config/.config/*
!config/.config/bspwm
!config/.config/dunst
!config/.config/sxhkd
!config/.config/dconf
!config/.config/github-copilot
!config/.config/gtk-3.0
!config/.config/Thunar
!config/.config/redshift.conf
!config/.config/xfce4
!config/.config/neofetch
